body {
  background-color: #000000;
}
p {
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 42%;
  left: 0;
  right: 0;
  font-family: Arial, Helvetica, sans-serif;
}
